body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Big Shoulders Display', cursive;
}

header {
    margin-top: 2rem;
}

.row-livehdl {
    margin-top: 2rem;
}

.code-editor {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    height: 25rem;
    box-shadow: 0 0.1rem 1rem 0 rgba(0,0,0,0.2);
}

.compile-spin {
    position: absolute;
    width: 5rem;
    height: 5rem;
    margin-left: -2.5rem;
    margin-top: -2.5rem;
    top: 50%;
    left: 50%;
    z-index: 1000;
    visibility: hidden;
}

.show {
  visibility: visible;
}
